*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#container{
    min-width: 1000px;
    max-width: 2000px;
    margin:0 auto;
}
#container header{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#navigation ul{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
#busca{
    width: 500px;
    justify-content: center;
    display: flex;
    gap:10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: space-between;
}
#card{
    width: 180px;
    height: 180px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px gainsboro solid;
    padding: 10px;
}
.oferta::after{
    content:"*";
}

main::after{
    content: "";
    flex: auto;
}
footer{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    background: navy;
    color: white;
}

footer #cabecera{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

a[href^="//"]::after{
    content: "*";
}