*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#container{
    min-width: 1000px;
    max-width: 2000px;
    margin:0 auto;
}
#container header{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
#navigation{
    overflow: hidden;
    background-color: #333;
        display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-evenly;
}
#navigation a{
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 14px 160px 16px 150px;
    text-decoration: none;
}
#navigation a:hover{
    background-color: grey;
}
#busca{
    width: 500px;
    justify-content: center;
    display: flex;
    gap:10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 50px;
    background-color: gray;
}
/* Cards */
.card{
    width: 180px;
    height: 280px;
    scale: 1;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px gainsboro solid;
    background-color: black;
    padding: 10px;
}
.card:hover{
    width:200px;
    height: 300px;
    scale:1.2;
    background-color:#eee;
    transition: scale 0.4s, background-color 0.4s;
}
.card-content{
    width: 100%;
    height: 100%;
    background-image: url(/img/incognita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card-content:hover{
    width: 100%;
    height: 100%;
    background-image: url(/img/peppo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.4s;
}

.oferta::after{
    content:"*";
}

main::after{
    content: "";
    flex: auto;
}
footer{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    background: navy;
    color: white;
}

a[href^="//"]::after{
    content: "*";
}